{% extends 'base.html.twig' %}

{% block title %}Reception{% endblock %}

{% block body %}{% endblock %}

{% block subtitle %}
    <h3 class="titre">Youpi, y'a plein de choses à acheter, venez voir !</h3>
{% endblock subtitle %}



{% block cards %}
<div class="row">
<div class="card mt-5 offset-1 col-md-2 mx-auto" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Product name</h5>
      <a href="{{path('product')}}"><img class="card-img-top" src="img/Book.jpg" alt="Card image cap"></a>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">+</a>
          <p>10 euros</p>
    </div>
  </div>
  <div class="card mt-5 offset-1 col-md-2 mx-auto" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Product name</h5>
        <a href="{{path('product')}}"><img class="card-img-top" src="img/Book.jpg" alt="Card image cap"></a>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">+</a>
            <p>10 euros</p>
      </div>
    </div>
    <div class="card mt-5 offset-1 col-md-2 mx-auto" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Product name</h5>
        <a href="{{path('product')}}"><img class="card-img-top" src="img/Book.jpg" alt="Card image cap"></a>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">+</a>
            <p>10 euros</p>
      </div>
    </div>
  </div>
{% endblock cards %}
  





