{% extends 'base.html.twig' %}

{% block title %}Symfony upload file{% endblock %}

{% block body %}
{{ form_start(form) }}
{{ form_row(form.file) }}
<input type="submit" value="Téléverser"/>
{{ form_end(form) }}
{% endblock %}
