{% extends 'base.html.twig' %}
{% block head %}
<head>
{% block title %}Symfony upload file{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/style.css')}}">
{% endblock stylesheets %} 
</head>
{% endblock head %}

{% block body %}
<body>

  <a href="{{ asset(fileURI) }}">Télécharger</a>

</body>


{% endblock body %}