{% extends 'base.html.twig' %} {% block title %}Hello {% endblock %}


{% block body %}

<body>


  <div class="product">

    <h2 class="product3">Product</h2>

    <div class="product2">

      <h3 class="product4">Categorie</h3>

      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
        book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.
      </p>

    </div>

  </div>


</body>

{% endblock body %}