-<header>
  <button type="button" class="admin align-text-bottom btn btn-warning">Admin</button>
  <h1 class="titre">Mon site de e-commerce</h1>
  <h3>{% block subtitle %}{% endblock subtitle %}</h3>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% block nav %}
      
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% block path %}{% endblock path %}
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% block catego %}
        <li class="nav-item">
          <a class="nav-link" href="#">Category 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Category 2</a>
        </li>
        {% endblock catego %}
        <button class="btn btn-success" type="submit">{% block btn %} Log in{% endblock btn %}</button>
        <button class="btn btn-primary" type="submit">{% block btn2 %}Sign in{% endblock btn2 %}</button>
      </ul>
    </div>
    {% endblock nav %}
  </nav>
</header>